<?xml version="1.0"?>
<launch>	
	<arg name="use_sim" default="false" />
		
	<!-- SIMULATION-->
	<group if="$(arg use_sim)">
		<param name="/use_sim_time" value="(arg use_sim)"/>
		
		<!--Running kinematic-->
		<include file="$(find base)/launch/base_node.launch">
			<!--Parameters for Kinematics -->
			<arg name="frontLength"         default="-0.383"/>                          <!-- distance from front axle to joint w.r.t. front axle -->
			<arg name="frontLaserLength"    default="0.387"/>                           <!-- distance from front axle to front laser w.r.t. front axle -->
			<arg name="rearLength"          default="-0.383"/>                          <!-- distance from joint to rear axle w.r.t. joint -->
			<arg name="rearLaserLength"     default="-0.387"/>                          <!-- distance from rear axle to rear laser w.r.t. rear axle -->
			<arg name="wheelDiameter"       default="0.280"/>                           <!-- diameter of wheel of Floribot4.0-->
			<arg name="axesLength"          default="0.335"/>                           <!-- distance between center of left wheel to center of right wheel -->
			<arg name="pubFrequency"        default="10.0"/>                            <!-- frequency to publish wheel speeds with in Hz -->
			<arg name="stopTimeout"         default="0.5"/>                             <!-- if no /cmd_vel callback is invoked, robot will stop moving after this duration  -->
		</include>
		
		<!--Running laserscan merger-->
		<include file="$(find floribot)/launch/own_laserscan_multi_merger.launch">
			<param name="/use_sim_time" value="true"/>
		</include>

	</group>

	<!-- REAL ROBOT-->
	<group unless="$(arg use_sim)">
		<param name="/use_sim_time" value="(arg use_sim)"/>
		<!--Running kinematic-->
		<include file="$(find base)/launch/base_node.launch">
			<!--Parameters for Kinematics -->
			<arg name="frontLength"         default="-0.383"/>                          <!-- distance from front axle to joint w.r.t. front axle -->
			<arg name="frontLaserLength"    default="0.327"/>                           <!-- distance from front axle to front laser w.r.t. front axle -->
			<arg name="rearLength"          default="-0.383"/>                          <!-- distance from joint to rear axle w.r.t. joint -->
			<arg name="rearLaserLength"     default="-0.327"/>                          <!-- distance from rear axle to rear laser w.r.t. rear axle -->
			<arg name="wheelDiameter"       default="0.280"/>                           <!-- diameter of wheel of Floribot4.0-->
			<arg name="axesLength"          default="0.335"/>                           <!-- distance between center of left wheel to center of right wheel -->
			<arg name="pubFrequency"        default="10.0"/>                            <!-- frequency to publish wheel speeds with in Hz -->
			<arg name="stopTimeout"         default="0.2"/>                             <!-- if no /cmd_vel callback is invoked, robot will stop moving after this duration  -->
		</include>
		<!--Adding TF publisher for angle-->
		<node pkg="base" type="angle2tf" name="angle2tf"/>
		
		<!--Availible soon-->
		<include file="$(find floribot)/launch/own_scanner.launch" > 
			<arg name="ParentFrame"   default="axesFront" />
			<arg name="LaserFrame"    default="laserFront" />
			<arg name="LaserTopic"    default="scanFront" />
			<arg name="TX"            default="0.327" />
			<arg name="TY"            default="0" />
			<arg name="TZ"            default="0" />
			<arg name="RX"            default="0"/>
			<arg name="RY"            default="0"/>
			<arg name="RZ"            default="0"/>
			<arg name="RW"            default="1"/>
			<arg name="IPAddress"     default="192.168.0.52" />
		</include>

		<include file="$(find floribot)/launch/own_scanner.launch" >
			<arg name="ParentFrame"   default="axesRear" />
			<arg name="LaserFrame"    default="laserRear" />
			<arg name="LaserTopic"    default="scanRear" />
			<arg name="TX"            default="-0.334" />
			<arg name="TY"            default="0" />
			<arg name="TZ"            default="0" />
			<arg name="RX"            default="0"/>
			<arg name="RY"            default="0"/>
			<arg name="RZ"            default="0"/>
			<arg name="RW"            default="1"/>
			<arg name="IPAddress"     default="192.168.0.51" />
		</include>
	
		<include file="$(find plc_connection)/launch/plc_connection.launch" />
	</group>	

</launch>
