<launch>	
	<arg name="use_sim" default="true" />
	<arg name="PI" default="3.14159265359"/>
		
	<!-- SIMULATION-->
	<group if="$(arg use_sim)">
		<param name="/use_sim_time" value="true"/>
		
		<!--Running kinematic-->
		<include file="$(find base)/launch/base_node.launch">
			<param name="/use_sim_time" value="true"/>
			<!--Parameters for Kinematics -->
			<arg name="frontLength"         default="-0.383"/>                          <!-- distance from front axle to joint w.r.t. frame in front axle -->
			<arg name="frontLaserLength"    default="0.387"/>                           <!-- distance from front axle to front laser w.r.t. frame in front axle -->
			<arg name="rearLength"          default="-0.383"/>                          <!-- distance from joint to rear axle w.r.t. frame in rear axle -->
			<arg name="rearLaserLength"     default="-0.387"/>                          <!-- distance from joint to rear laser w.r.t. frame in rear axle -->
			<arg name="wheelDiameter"       default="0.280"/>                           <!-- diameter of wheel of Floribot4.0-->
			<arg name="axesLength"          default="0.335"/>                           <!-- distance between center of left wheel to center of right wheel -->
			<arg name="pubFrequency"        default="10.0"/>                            <!-- frequency to publish wheel speeds with in Hz -->
			<arg name="stopTimeout"         default="0.5"/>                             <!-- if no /cmd_vel callback is invoked, robot will stop moving after this duration  -->
		</include>
		
		<!--Running laserscan merger-->
		<include file="$(find floribot)/launch/own_laserscan_multi_merger.launch">
			<param name="/use_sim_time" value="true"/>
		</include>

	</group>

	<!-- REAL ROBOT-->
	<group unless="$(arg use_sim)">
		<param name="/use_sim_time" value="false"/>
		<!--Adding TF publisher for angle-->
		<!--node pkg="base" type="angle2tf" name="angle2tf"/-->
		
		<!--Availible soon-->
		<!--include file="$(find floribot)/launch/own_scanner.launch" >
			<rosparam file="$(find floribot)/paramFiles/scanner_front_param.yaml" command="load" />
			<arg name="use_sim" value="$(arg use_sim)"/>
		</include>

		<include file="$(find floribot)/launch/own_scanner.launch" >
			<rosparam file="$(find floribot)/paramFiles/scanner_rear_param.yaml" command="load" />
			<arg name="use_sim" value="$(arg use_sim)"/>
		</include-->
		
		<include file="$(find base)/launch/base_node.launch"/>

		<!--include file="$(find floribot)/launch/own_scanner.launch" >
			<rosparam file="$(find floribot)/param/scanner_front_param.yaml" command="load" />
		</include>

		<include file="$(find floribot)/launch/own_scanner.launch" >
			<rosparam file="$(find floribot)/param/scanner_rear_param.yaml" command="load" />
		</include-->
	
		<!--include file="$(find plc_connection)/launch/plc_connection.launch" /-->
	</group>	

</launch>
