<launch> 
        
    <include file="$(find realsense2_camera)/launch/rs_camera.launch" >
        <rosparam file="$(find pointcloud_preprocessing)/camera_front_param.yaml" command="load" />
        <arg name="camera"   default="camera_front" />
        <arg name="tf_prefix"   default="camera_front" />
    </include>     
    <include file="$(find realsense2_camera)/launch/rs_camera.launch" >
        <rosparam file="$(find pointcloud_preprocessing)/camera_rear_param.yaml" command="load" />
        <arg name="camera"   default="camera_rear" />
        <arg name="tf_prefix"   default="camera_rear" />
    </include>
</launch>