<launch>
	<master auto="start"/>
	<arg name="map_name" default="playground"/>	

	<!-- Call the reset_odom service of base node when starting navigation stack to start with zero odometry-->
	<node pkg="rosservice" type="rosservice" name="rosservice" args="call /reset_odom"/>

	<!-- Run the map server --> 
	<node name="map_server" pkg="map_server" type="map_server" args="$(find mapping)/map_data/$(arg map_name).yaml">
		<param name="frame_id" value="map" />
	</node> 

	<!--- Run amcl -->
	<include file="$(find nav2d)/launch/amcl.launch">
		<arg name="amcl_scan_topic" default="/sensors/scanMulti"/>
	</include>

	<!-- delete old parameters -->
	<rosparam command="delete" param="/move_base"/>
	<!--- Run move_base --> 
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
		<param name="base_global_planner" value="SBPLLatticePlanner" />
		<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
	  	<param name="SBPLLatticePlanner/primitive_filename" value="$(find nav2d)/matlab/mprim/floribot_minturnradius04_highbwrdcost.mprim" />

		<rosparam file="$(find nav2d)/param/common_costmap_params.yaml" command="load" ns="global_costmap" />
		<rosparam file="$(find nav2d)/param/common_costmap_params.yaml" command="load" ns="local_costmap" /> 
		<rosparam file="$(find nav2d)/param/local_costmap_params.yaml" command="load" />
		<rosparam file="$(find nav2d)/param/global_costmap_params.yaml" command="load" />	
		<rosparam file="$(find nav2d)/param/move_base_params.yaml" command="load" />
		<rosparam file="$(find nav2d)/param/local_teb_costmap_converter_params.yaml" command="load" />
		<rosparam file="$(find nav2d)/param/local_teb_local_planner_params.yaml" command="load" />
		<rosparam file="$(find nav2d)/param/global_lattice_planner_params.yaml" command="load" />
	</node>

	<!--Run dynamic_footprint node-->
	<!-- <include file="$(find dynamic_footprint)/launch/dynamic_footprint.launch"/>
		<param name="rate" value="10.0"/>
		<param name="footprint_padding" value="0.0"/> -->

	<!--Run switch_nav_base node-->
	<!-- <include file="$(find switch_nav_base)/launch/switch_nav_base_node.launch">
		<arg name="frame_id_front" 			default="axesFront"/>
		<arg name="frame_id_rear" 			default="axesRear"/>
		<arg name="frame_id_output" 		default="nav_base"/>
		<arg name="frame_id_map" 			default="map"/>
		<arg name="wheelbase_theta_zero" 	default="0.766"/>
		<arg name="delay_switch" 			default="3.0"/>
	</include> -->

	<!-- Run rviz -->
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find nav2d)/rviz_cfg/navigation_sbpllattice_teb.rviz" />
</launch>
