<launch>
	<master auto="start"/>
	<!--arg name="local_planner" default="dwa_local_planner/DWAPlannerROS" /-->
	<arg name="local_planner" default="teb_local_planner/TebLocalPlannerROS" />
	<arg name="global_planner" default="global_planner/GlobalPlanner" />
 	<arg name="amcl_scan_topic" default="/sensors/scanMulti"/>
	<arg name="map_name" default="playground"/>

	<!-- Call the reset_odom service of base node when starting navigation stack to start with zero odometry-->
	<node pkg="rosservice" type="rosservice" name="rosservice" args="call /reset_odom"/>

	<!-- Run the map server --> 
	<node name="map_server" pkg="map_server" type="map_server" args="$(find mapping)/map_data/$(arg map_name).yaml">
		<param name="frame_id" value="map" />
	</node> 

	<!--- Run amcl -->
	<include file="$(find nav2d)/launch/amcl.launch" pass_all_args="true"/>

	<!--- Run move_base --> 
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
		<rosparam file="$(find nav2d)/param/common_costmap_params.yaml" command="load" ns="global_costmap" />
		<rosparam file="$(find nav2d)/param/common_costmap_params.yaml" command="load" ns="local_costmap" /> 
		<rosparam file="$(find nav2d)/param/local_costmap_params.yaml" command="load" />
		<rosparam file="$(find nav2d)/param/global_costmap_params.yaml" command="load" />		
		<!-- move_base is given access to the arguments at the top (subst_value="true")-->
		<rosparam file="$(find nav2d)/param/move_base_params.yaml" command="load" subst_value="true" />	
		<!-- Decide what local and global planner configuration file to load-->
		<rosparam file="$(find nav2d)/param/dwa_local_planner_params.yaml" command="load" if="$(eval arg('local_planner') == 'dwa_local_planner/DWAPlannerROS')" />		
		<rosparam file="$(find nav2d)/param/teb_local_planner_params.yaml" command="load" if="$(eval arg('local_planner') == 'teb_local_planner/TebLocalPlannerROS')" />
		<rosparam file="$(find nav2d)/param/global_planner_params_global.yaml" command="load" if="$(eval arg('global_planner') == 'global_planner/GlobalPlanner')" />
	</node>

	<!--Running dynamic footprint node-->
	<!--include file="$(find dynamic_footprint)/launch/dynamic_footprint.launch"/>
		<param name="rate" value="10.0"/>
		<param name="footprint_padding" value="0.1"/-->

	<!-- Run rviz -->
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find nav2d)/rviz_cfg/navigation_dwa.rviz" if="$(eval arg('local_planner') == 'dwa_local_planner/DWAPlannerROS')"/>
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find nav2d)/rviz_cfg/navigation_teb.rviz" if="$(eval arg('local_planner') == 'teb_local_planner/TebLocalPlannerROS')"/>
</launch>
