<launch>

    <arg name="plc_ip"                          default="192.168.0.43"/>
    <arg name="plc_port"                        default="50000"/>
    <arg name="xavier_ip"                       default="192.168.0.42"/>
    <arg name="xavier_port"                     default="50000"/>
    <arg name="plc_timeout"                     default="1.5"/>
    <arg name="zero_count_encoder"              default="41229"/>
    <arg name="count_per_rotation_encoder"      default="4096"/>
    <arg name="engine_acceleration"             default="1000"/>
    <arg name="engine_jerk"                     default="10000"/>
    <arg name="period_Send_Read"                default="0.05"/>



    <node name="PLC_Connection"             pkg="plc_connection" type="plc_connection_node">
    <param name="PLC_IP"                    value="$(arg plc_ip)"/>
    <param name="PLC_Port"                  value="$(arg plc_port)"/>
    <param name="PLC_Timeout"               value="$(arg plc_timeout)"/>
    <param name="Xavier_Port"               value="$(arg xavier_port)"/>
    <param name="Xavier_IP"                 value="$(arg xavier_ip)"/>
    <param name="ZeroCount_Encoder"         value="$(arg zero_count_encoder)"/>
    <param name="CountPerRotation_Encoder"  value="$(arg count_per_rotation_encoder)"/>
    <param name="Engine_Acceleration"       value="$(arg engine_acceleration)"/>
    <param name="Engine_Jerk"               value="$(arg engine_jerk)"/>
    <param name="Period_Send_Read"          value="$(arg period_Send_Read)"/>
    
    <!--remap from="/engine/actualSpeed"         to="/engine/actualSpeed"/-->
    <!--remap from="/engine/targetSpeed"         to="/engine/targetSpeed"/-->
    <!--remap from="/engine/targetAcceleration"  to="/engine/targetAcceleration"/-->
    <!--remap from="/engine/targetTorque"        to="/engine/targetTorque"/-->

    <!--remap from="/sensors/bodyAngle"           to=""/-->
    </node>
</launch>
