<launch>

    <arg name="plc_ip"          default="192.168.0.43"/>
    <arg name="plc_port"        default="5000"/>
    <arg name="xavier_ip"       default="127.0.0.1"/>
    <arg name="xavier_port"     default="50000"/>
    <arg name="plc_timeout"     default="1.5"/>
    <arg name="engine_mode"     default="0"/>


    <node name="PLC_Connection" pkg="plc_connection" type="plc_connection_node">
    <param name="PLC_IP"        value="$(arg plc_ip)"/>
    <param name="PLC_Port"      value="$(arg plc_port)"/>
    <param name="PLC_Timeout"   value="$(arg plc_timeout)"/>
    <param name="Xavier_Port"   value="$(arg xavier_port)"/>
    <param name="Xavier_IP"     value="$(arg xavier_ip)"/>
    <param name="Engine_Mode"   value="$(arg engine_mode)"/>

    <!--remap from="/Engine/ActualSpeed"         to=""/-->
    <!--remap from="/Engine/TargetSpeed"         to=""/-->
    <!--remap from="/Engine/TargetAcceleration"  to=""/-->
    <!--remap from="/Engine/TargetTorque"        to=""/-->

    <!--remap from="/Sensors/BodyAngle"           to=""/-->
    </node>
</launch>