<launch>
   <master auto="start"/>

	 <!-- Run gmapping -->
	 <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen" >
		<remap from="scan" to="/sensors/scanMulti" />
		<param name="odom_frame" value="odom" />
		<param name="base_frame" value="base_link" />
		<param name="map_frame" value="map"/>
		
		<param name="particles" value="80"/>
		<param name="maxUrange" value="7.0" />
		<param name="maxRange" value="12.5"/>
		<param name="srr" value="0.2"/>
		<param name="srt" value="0.4"/>
		<param name="str" value="0.2"/>
		<param name="stt" value="0.4"/>
		<param name="map_update_interval" value="1.0" />
		<param name="xmin" value="-10"/>
		<param name="ymin" value="-10"/>
		<param name="xmax" value="10"/>
		<param name="ymax" value="10"/>
		<param name="delta" value="0.05"/>
		<param name="linearUpdate" value="0.25"/>
		<param name="angularUpdate" value="0.25"/>

		<!-- Default parameters from here on -->     

		<param name="throttle_scans" value="1"/>
		<param name="sigma" value="0.05"/>
		<param name="kernelSize" value="1"/>
		<param name="astep" value="0.05"/>
		<param name="lstep" value="0.05"/>
		<param name="iterations" value="5"/>
		<param name="lsigma" value="0.075"/>
		<param name="ogain" value="3.0"/>
		<param name="lskip" value="0"/>
		<param name="minimumScore" value="0.0"/>
		<param name="temporalUpdate" value="-1.0"/>
		<param name="resampleThreshold" value="0.5"/>
		<param name="llsamplerange" value="0.01"/>
		<param name="llsamplestep" value="0.01"/>
		<param name="lasamplerange" value="0.005"/>
		<param name="lasamplestep" value="0.005"/>
		<param name="transform_publish_period" value="0.05"/>
		<param name="occ_thresh" value="0.25"/>
		</node>

  <!-- Run rviz -->
  <node pkg="rviz" type="rviz" name="rviz"
    args="-d $(find mapping)/rviz_cfg/mapping.rviz"/>

</launch>
