<launch>
   <master auto="start"/>

	 <!-- Run gmapping -->
	 <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen" >
		<remap from="scan" to="/sensors/scanMulti" />
		<param name="odom_frame" value="odom" />
		<param name="base_frame" value="base_link" />
		<param name="map_frame" value="map"/>
	</node>

  <!-- Run rviz -->
  <node pkg="rviz" type="rviz" name="rviz"
    args="-d $(find mapping)/rviz_cfg/mapping.rviz"/>

</launch>
